* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.logo {
  width: 5em;
  margin-top: 7em;
  margin-bottom: 2em;
}

header {
  font-size: 2.5em;
  color: gray;
  font-weight: 100;
}

span {
  font-weight: bold;
  color: black;
}

p {
  font-size: 1.5em;
  margin-top: -0.5em;
  margin-bottom: 1em;
  color: gray;
}

.dashboard {
  width: 30em;
  margin-bottom: 5em;
}

.footer {
  display: flex;
  gap: 1em;
}

.footer img {
  width: 2.5em;
}

footer {
  color: gray;
}

input {
  width: 20em;
  height: 3em;
  border-radius: 2em;
  padding-left: 2.5em;
  border: 1px solid #aebdea;
  color: #aebdea;
}

button {
  background-color: #3d62f3;
  width: 20em;
  height: 3em;
  border-radius: 2em;
  border-style: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  gap: 2em;
}

.notify {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input:hover {
  border-color: red;
}

button:hover {
  background-color: #5e7ff2;
  cursor: pointer;
}

.footer img:hover {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 50%;
}

@media only screen and (min-width: 600px) {
  .notify {
    flex-direction: row;
  }

  .logo {
    margin-bottom: 0;
  }

  header {
    font-size: 4rem;
  }

  p {
    font-size: 2em;
  }

  button {
    width: 13em;
  }
  .dashboard {
    width: 45em;
    margin-bottom: 3em;
  }
}
